.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.title-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5em;
}

.title-admin {
	font-size: 35px;
	text-align: center;
	color: #119f95;
	margin-bottom: 1em;
}



.dashboard {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.dashboard-container {
	margin: 0 2em;
	background-color: white;
	padding: 2em;
	border-radius: 12px;
    --webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	height: 480px;
	width: 560px;
	overflow-y: auto;
	scrollbar-color: #1aacaa #dbe5eb;
    scrollbar-width: 8px;
	cursor: pointer;
}

.dashboard h2 {
	font-size: 25px;
	text-align: center;
	color: #119f95;
}

.container {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 10px auto 10px auto;
	/* background-color: #99f5e9; */
	border: 2px solid #f98b17;
	cursor: pointer;
	padding: 0.2em;
	border-radius: 12px;
}

.container-checked {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 10px auto 10px auto;
	border: 2px solid #1aacaa;
	border-radius: 12px;
	color: #fff;
	padding: 0.2em;
}

.personal_info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 19px;
	font-weight: bold;
}

.personal_info span {
	transform: rotate(0);
	transition: all 0.5s ease-in-out;
}

.personal_info span:hover {
	transform: rotate(-90deg);
	/* background-color: #65afa5; */
}

.container .hidden > p {
	visibility: hidden;
	height: 0px;
	opacity: 0;
	transition: height 0.4s, opacity 0.6s ease-in-out;
}

/* .hidden:hover > p {
	height: 100px;
	visibility: visible;
	opacity: 1;
} */

.container:hover .hidden > p {
	height: 100px;
	visibility: visible;
	opacity: 1;
}

.medical_info {
	display: block;
	height: 100px;
}

.arrow {
	z-index: 99;
}

.admin-btn-cont{
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.admin-btn{
	margin:1em;
	background-color: #fff;
	border-radius: 12px;
	cursor: pointer;
	--webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
	width: 180px;
}

.admin-btn h1{
	color:#119f95;
	font-size: 20px;
}
.admin-btn:hover{
	transform:scale(1.02) ;
}

h1.quantity-alert{
	color: #f98b17;
	margin-left: 0.5em;
}

@media screen and (max-width:624px){

	.title-admin{
		width: 80%;
		font-size: 28px;
	}
	.dashboard-container{
		width: 350px;
	}

	.container, .container-checked{
		width: 80%;
	}

	.admin-btn{
		width: 80%;
		margin: 0.2em;
	}

	.dashboard-container{
		margin: 1em 0 2em 0;
	}
	
}